DB_URI=[MongoDB Atlas project connection URI (with the password included)]

GOOGLE_CLIENT_ID=[YOUR GOOGLE CLIENT_ID]
GOOGLE_CLIENT_SECRET=[YOUR GOOGLE CLIENT_SECRET]
GOOGLE_REDIRECT_URI=[ONE OF YOUR GOOGLE PROJECT REDIRECTION URI]

PORT=[PORT]
NODE_ENV=[ENVIRONNEMENT]